.container {
    margin-top: 10%;
}

.table {
    background-color: ivory;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.custom-class-1 {
    background-color: hotpink;
}

.custom-class-2 {
    background-color: rgb(15, 131, 177);
}
.custom-class-3 {
    background-color: rgb(226, 120, 21);
}

@media only screen and (max-width: 700px)  {
    .list-group-item {
        width: 90% !important;
    }
}

@media only screen and (max-width: 400px) {
    .header, select {
        margin-left: 25% !important;
    }
}